aenum
boltons
colorama
faulthandler; python_version <= '2.7'
future
futures; python_version <= '2.7'
geopy
ipython
numpy
opencv-python
PyYAML
six
Sphinx==1.8.5
sphinx-rtd-theme
sphinxcontrib-seqdiag
textwrap3; python_version <= '2.7'
yapf
