aenum==2.2.6
boltons
colorlog
faulthandler; python_version <= '2.7'
future
futures; python_version <= '2.7'
geopy
ipython
numpy
opencv-python
pytz
PyYAML
requests
six
Sphinx==1.8.5
sphinx-rtd-theme
sphinxcontrib-seqdiag < 2.0
blockdiag < 2.0
seqdiag < 2.0
textwrap3; python_version <= '2.7'
tzlocal
yapf
websocket_client
